<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="ieTest">
    <parameter name="browserName" value="ie"></parameter>
    <parameter name="username" value="kirubanithi"></parameter>
    <classes>
      <class name="org.bgi.BasicTestng"/>
    </classes>
  </test> <!-- Test -->
   <test name="chromeTest">
    <parameter name="browserName" value="Chrome"></parameter>
    <parameter name="pass" value="kirub123"></parameter>
    <classes>
      <class name="org.bgi.BasicTestng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
